<a href="https://colab.research.google.com/github/julika333/TMS-DS/blob/develop/lesson_05_python3/HW_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Напишите функцию для разделения строки и преобразования ее в список
слов. Пример "Robin Singh" ==> ["Robin", "Singh"]

In [3]:
def split_string(input_str) -> list:
    return input_str.split(" ")


split_string("Robin Singh")

['Robin', 'Singh']

2) Натан любит кататься на велосипеде. Поскольку Натан знает, как важно
избегать обезвоживания, он выпивает 0,5 литра воды за час езды на
велосипеде. Вам дано время в часах, и вам нужно вернуть количество
литров, которое выпьет Натан, округленное до наименьшего значения.
Пример time = 3 ----> litres = 1

In [4]:
def litres(time) -> int:
  litres = time * 0.5
  return int(litres)

litres(3)

1

3) Создайте функцию, которая возвращает список целых чисел от n до 1,
где n>0. Пример: n=5-->[5,4,3,2,1]

In [5]:
def generate_list(n) -> list:
  return list(range(n, 0, -1))

generate_list(5)

[5, 4, 3, 2, 1]

4) Учитывая год, верните столетие, в котором он находится.
Пример 1705 --> 18 1900 --> 19 1601 --> 17

In [9]:
def year_to_century(year):
    return (year - 1) // 100 + 1

year_to_century(1705)

18

5) Учитывая случайное неотрицательное число, вам необходимо вернуть
цифры этого числа в массиве в обратном порядке. 35231 => [1,3,2,5,3]

In [17]:
def reverse_digits(number):
    # new_str = str(number)[::-1]
    # new_list = []
    # for char in new_str:
    #   new_list.append(char)
    # return(new_list)
    return [int(char) for char in str(number)[::-1]]

reverse_digits(35231)

[1, 3, 2, 5, 3]

6) Получить квадратные матрицы порядка n (через список как на
занятии), элементами которых являются заданные
действительные числа 1, 2, ..., n*n, расположенные в ней по схемам,
которые приведены на рисунках

In [20]:
def create_matrix_vertical(n):
    matrix = [[0] * n for _ in range(n)]
    num = 1
    for col in range(n):
        if col % 2 == 0:
            for row in range(n):
                matrix[row][col] = num
                num += 1
        else:
            for row in range(n-1, -1, -1):
                matrix[row][col] = num
                num += 1
    return matrix

def create_matrix_horizontal(n):
    matrix = [[0] * n for _ in range(n)]
    num = 1
    for row in range(n):
        if row % 2 == 0:
            for col in range(n):
                matrix[row][col] = num
                num += 1
        else:
            for col in range(n-1, -1, -1):
                matrix[row][col] = num
                num += 1
    return matrix

n = 5
print("Vertical:")
for row in create_matrix_vertical(n):
    print(row)

print("Horizontal:")
for row in create_matrix_horizontal(n):
    print(row)

Vertical:
[1, 10, 11, 20, 21]
[2, 9, 12, 19, 22]
[3, 8, 13, 18, 23]
[4, 7, 14, 17, 24]
[5, 6, 15, 16, 25]
Horizontal:
[1, 2, 3, 4, 5]
[10, 9, 8, 7, 6]
[11, 12, 13, 14, 15]
[20, 19, 18, 17, 16]
[21, 22, 23, 24, 25]