<a href="https://colab.research.google.com/github/julika333/TMS-DS/blob/main/lesson_10_alchemy_sql/HW_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.27)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [8]:
import sqlalchemy as db
engine = db.create_engine('sqlite:///mydb.db')
conn = engine.connect()
metadata = db.MetaData()

In [13]:
students = db.Table(
    'Students', metadata,
    db.Column('id', db.Integer, primary_key=True),
    db.Column('name', db.String),
    db.Column('age', db.Integer),
    db.Column('grade', db.String),
    extend_existing=True
)
instructors = db.Table(
    'Instructors', metadata,
    db.Column('id', db.Integer, primary_key=True),
    db.Column('name', db.Text),
    db.Column('department', db.Text),
    extend_existing=True
)
courses = db.Table(
    'Courses', metadata,
    db.Column('id', db.Integer, primary_key=True),
    db.Column('course_name', db.Text),
    db.Column('instructor_id', db.Integer, db.ForeignKey('Instructors.id')),
    extend_existing=True
)
enrollments = db.Table(
    'Enrollments', metadata,
    db.Column('enrollment_id', db.Integer, primary_key=True),
    db.Column('student_id', db.Integer, db.ForeignKey('Students.id')),
    db.Column('course_id', db.Integer, db.ForeignKey('Courses.id')),
    extend_existing=True
)

metadata.create_all(engine)

In [19]:
# students_data = [
#     {"name": "Masha", "age": 15, "grade": "5"},
#     {"name": "Pasha", "age": 16, "grade": "6"},
#     {"name": "Sasha", "age": 16, "grade": "5"},
#     {"name": "Dasha", "age": 17, "grade": "6"},
#     {"name": "Misha", "age": 18, "grade": "7"},
# ]
# conn.execute(students.insert(), students_data)

courses_data = [
    {"course_name": "Mathematics", "instructor_id": 1},
    {"course_name": "Physics", "instructor_id": 2},
    {"course_name": "Language", "instructor_id": 3},
    {"course_name": "LanguageArts", "instructor_id": 3}
]
conn.execute(courses.insert(), courses_data)

enrollments_data = [
    {"student_id": 1, "course_id": 1},
    {"student_id": 2, "course_id": 2},
]
conn.execute(enrollments.insert(), enrollments_data)

instructors_data = [
    {"name": "Dr. Smith", "department": "Science"},
    {"name": "Dr. Doe", "department": "Mathematics"},
    {"name": "Dr. House", "department": "Lang"}
]
conn.execute(instructors.insert(), instructors_data)

IntegrityError: (sqlite3.IntegrityError) NOT NULL constraint failed: Courses.course_id
[SQL: INSERT INTO "Courses" (course_name, instructor_id) VALUES (?, ?)]
[parameters: [('Mathematics', 1), ('Physics', 2), ('Language', 3), ('LanguageArts', 3)]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [17]:
select_all_query = db.select(students)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 'Masha', 15, '5'),
 (2, 'Pasha', 16, '6'),
 (3, 'Sasha', 16, '5'),
 (4, 'Dasha', 17, '6'),
 (5, 'Misha', 18, '7')]